:root {
  --color-page-background: #f8f8f8;
  --color-primary: #333333;
  --color-secondary: #888888;
  --color-button-hover: #3a3a3a;
  --color-light: #ffffff;
  --color-input-border: #dddddd;
  --color-tasks-separator: #eeeeee;

  --ff-sans-serif: Lato, sans-serif;
  --ff-cursive: fantasy, cursive;
}

/* Basic Blocks */
.icon {
  height: 2em;
  vertical-align: middle;
}

.button {
  background: none;
  border: 0px;
  outline: none;
  color: var(--color-secondary);
  font-size: 15px;
  width: 60px;
  font-family: var(--ff-sans-serif);
  cursor: pointer;
}
.button:hover {
  color: var(--color-button-hover);
}

.button_delete .icon {
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.button_delete:hover .icon {
  transform: rotateZ(0);
}

.input {
  box-sizing: border-box;
  margin: 0;
  outline: none;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid var(--color-input-border);
  background: var(--color-light);
  border-radius: 6px;
  font-family: var(--ff-sans-serif);
  color: var(--color-secondary);
}
.input:focus {
  color: var(--color-primary);
}

/* Heading */
.title {
  color: var(--color-primary);
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid var(--color-primary);
  text-transform: uppercase;
}

/* Basic Style */
.page {
  background-color: var(--color-page-background);
  color: var(--color-primary);
  font-family: var(--ff-sans-serif);
}
.page__header {
  margin: 0 auto;
}
.page__main {
  margin: 0 auto;
}

/* Header block */
.header {
  width: 500px;
  text-align: right;
}
@media (max-width: 768px) {

  .header {
    text-align: center;
  }

}
.header__image {
  width: 100%;
  display: block;
  margin-bottom: -1px;
}
.header__link-more {
  font-family: var(--ff-cursive);
}

/* Main block */
.main {
  width: 500px;
}

/* Section block */
.section__title {
  padding: 30px 0 10px;
  margin: 0;
}

/* New Task block */
.new-task {
  border: 0;
  padding: 0 0 1em;
  margin: 0;
}
.new-task__legend {
  width: 100%;
  padding: 1em 0 0;
}
.new-task__title {
  display: block;
  margin-bottom: 20px;
}
.new-task__fields {
  display: flex;
}
.new-task__input {
  width: 318px;
  flex-grow: 1;
}

/* Task list block */
.task-list {
  margin: 0;
  padding: 0;
}
.task-list__item {
  list-style: none;
  padding: 20px 0;
  border-bottom: 1px solid var(--color-tasks-separator);
}


/* Task block */
.task {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task__checkbox {
  margin: 0 10px;
}
.task__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}
.task__input {
  width: 226px;
  display: none;
  flex-grow: 1;
  vertical-align: middle;
}

/* Edit Task */
.task_edit .task__input {
  display: inline-block;
  width: 224px;
}
.task_edit .task__label {
  display: none;
}

/* Completed */
.task_completed .task__label {
  text-decoration: line-through;
  color: var(--color-secondary)
}